.pagination {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    padding: 0.5rem;
}

.pagination .page {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: darkgray;
    border-radius: 16px;
    width: 36px;
    height: 36px;
    color: white;
}

.pagination .page:hover, .page.active {
    transform: scale(1.25);
    background-color: cornflowerblue;
    color: white;
}
