.suggestions-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem;
}

.suggestions-list-item .remove-btn {
    margin-left: auto;
    cursor: pointer;
}

.suggestions-list-item .remove-btn:hover {
    font-weight: normal;
    text-decoration: underline;
}

.suggestions-list-item .title {
    cursor: pointer;
}

.suggestions-list-item .title.memorized {
    color: #c58af9;
}

.suggestions-list-item .title:hover {
    font-weight: bold;
}